body{
    background-color: rgb(80, 7, 7);
}
h2{
    color: white;
}
h1{
    color: white;
}
h4{
    color: white;
}
kbd{
 border:  solid 1px rgb(255, 224, 49);
 padding: 1px;
}
p{
    color: white;
}
code{
    color: rgb(245, 222, 16);
}
pre{
    background-color: white;
    color: white;
}
pre > code{
    color: rgb(20, 87, 187);
}
pre > p{
    font-style: italic;
    color: deepskyblue;
    padding-left: 30px;
}
